<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7WONDERS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B447A97C1D36B935001E8025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B447A9951D36B935001E8025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B447A9A01D36B935001E8025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
